<html>
<body>
    <table>
        <tr>
            <th>
                <div>
                    <img src="https://s3.pagegear.co/237/1/images/frutas.jpg">
                    <p>Piña</p>
                </div>
            </th>
            <th>
                <div>
                    <img src="https://i.pinimg.com/originals/fe/2e/85/fe2e85219725f9f7ff17bc59c0b38a2e.png">
                    <p>Fresas</p>
                </div>
            </th>
            <th>
                <div>
                    <img src="https://oquintana2002.files.wordpress.com/2015/04/cerezas1.jpg?w=256&h=256&crop=1">
                    <p>Cereza</p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <img src="https://png.pngtree.com/element_origin_min_pic/00/03/38/07568aec833aeef.jpg">
                <p>Limon</p>
            </th>
            <th>
                <img src="https://png.pngtree.com/element_origin_min_pic/00/03/38/07568aec833aeef.jpg">
                <p>Limon</p>
            </th>
            <th>
                <img src="https://png.pngtree.com/element_origin_min_pic/00/03/38/07568aec833aeef.jpg">
                <p>Limon</p>
            </th>
        </tr>
    </table>
</body>
</html>